src/main/resources/wsdl/ServiceGetFile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://edocs523.local/ws/tsoed/getfile"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="\TSD_WsGetFileModel" targetNamespace="http://edocs523.local/ws/tsoed/getfile">
    <types>
        <xsd:schema targetNamespace="http://edocs523.local/ws/tsoed/getfile">
            <xsd:element name="getFile">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sFileId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="FileContent">
                <xsd:all>
                    <xsd:element name="sFileName" type="xsd:string"/>
                    <xsd:element name="sFileContent" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="getFileResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getFileResult" type="tns:FileContent"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="\TSD_WsGetFileModelPort">
        <operation name="getFile">
            <documentation>@param string $sFileId</documentation>
            <input message="tns:getFileIn"/>
            <output message="tns:getFileOut"/>
        </operation>
    </portType>
    <binding name="\TSD_WsGetFileModelBinding" type="tns:\TSD_WsGetFileModelPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFile">
            <soap:operation soapAction="http://edocs523.local/ws/tsoed/getfile#getFile"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="\TSD_WsGetFileModelService">
        <port name="\TSD_WsGetFileModelPort" binding="tns:\TSD_WsGetFileModelBinding">
            <soap:address location="http://edocs523.local/ws/tsoed/getfile"/>
        </port>
    </service>
    <message name="getFileIn">
        <part name="parameters" element="tns:getFile"/>
    </message>
    <message name="getFileOut">
        <part name="parameters" element="tns:getFileResponse"/>
    </message>
</definitions>
